@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

:root {
    --bg-color: #222;

    --primary-color: #333;
    --secondary-color: #fff;

    --dark-text: #333;
    --light-text: #ccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--light-text);
    font-family: 'Heebo', sans-serif;
}

body {
    background-color: var(--bg-color);
}

textarea {
    resize: none;
    color: black;
    vertical-align: middle;
}

#header {
    border-bottom: 10px solid var(--secondary-color);
    margin-bottom: 2rem;
}

#header-head {
    font-size: 2rem;
}

#header-subtext {
    font-size: 0.8rem;
}

.far {
    color: var(--secondary-color);
}

.hour {
    color: var(--secondary-color);
    align-self: center;
    border: 2px dotted var(--light-text);
    border-left: none;
    border-radius: 2px;
    padding: 10px;
    text-align: right;
}

@media (max-width: 767px) {
    .hour-container {
        margin-bottom: 20px;
        border-bottom: 1px solid var(--light-text);
        border-top: 1px solid var(--light-text);
    }

    .hour {
        text-align: center;
        border: 2px dotted var(--light-text);
    }

}